<div class="container">
  <h1 class="text-center">Crear Estudiantes</h1>
  <form (ngSubmit)="onCreateStudents()" class="">
    
      <div class="row">
        <div class="form-group col-6">
          <label for="code_Student">Codigo Estudiante</label>
          <input type="text" class="form-control" id="code_Student" name="code_Student"
            [(ngModel)]="student.code_Student">
        </div>
        <div class="form-group col-6">
          <label for="document_Student">Identificación</label>
          <input type="text" class="form-control" id="document_Student" name="document_Student"
            [(ngModel)]="student.document_Student">
        </div>
        <div class="form-group col-6">
          <label for="name_Student">Nombre Completo</label>
          <input type="text" class="form-control" id="name_Student" name="name_Student"
            [(ngModel)]="student.name_Student">
        </div>
        <div class="form-group col-6">
          <label for="enrollmentStatus">Estado de Matricula</label>
          <div class="sidebar-box">
            <select class="form-control styled-select" id="enrollmentStatus" name="enrollmentStatus" [(ngModel)]="student.Enrollment_Status">
              <option value="true">Activo</option>
              <option value="false">Inactivo</option>
            </select>
            
          </div>
          
        </div>
      </div>
      <button type="submit" class="btn btn-primary mt-5 offset-5 justify-content-center d-flex">Guardar</button>
  </form>
</div>