<body>
  

<div class="contenedor">
<div class="central">
  <div class="login">    
     <p class="titulo">Bienvenido A Gest</p>
      <hr>
     <form (ngSubmit)="onLogin(email,password)">
        <img class="logo_fup" src="assets/images/logo_fup.png" alt="Logo de la aplicación">   
        
        <input type="text" [placeholder]="placeholder_email"  name="email" [(ngModel)]="email" required>
        
        <input type="password" [placeholder]="placeholder_password" name="password" [(ngModel)]="password" required>
        <button type="submit"  >Iniciar Sesión</button>
        <a class="recovery" href="http://facebook.com">Olvide mi contraseña</a>
      </form>
      <br>
      
    
  </div>
</div>
</div>
</body>