<div class="container">
    <table class="table table-bordered table-dark">
        <thead>
            <tr>
                <th scope="col">Identificacion</th>
                <th scope="col">Nombre</th>
                <th scope="col">Codigo</th>
                <th scope="col">Estado_Matricula</th>
                <th scope="col">Semestre</th>
                <th scope="col">Celular</th>
                <th scope="col">Correo</th>
                <th scope="col">Correo Institucional</th>
                <th scope="col">Rol</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let student of Students">
                <td>{{ student.Identificacion}}</td>
                <td>{{ student.Nombre}}</td>
                <td>{{ student.Codigo }}</td>
                <td>{{ student.Estado_Matricula }}</td>
                <td>{{ student.Semestre }}</td>
                <td>{{ student.Celular }}</td>
                <td>{{ student.Correo }}</td>
                <td>{{ student.Correo_institucional }}</td>
                <td>{{ student.Rol }}</td>
            </tr>
        </tbody>
    </table>
</div>