.container {
    max-height: 90vh; /* Establece una altura máxima para el contenedor */
    max-width: 80vw;
    overflow-y: auto; /* Agrega una barra de desplazamiento vertical cuando sea necesario */
    border: 1px solid #ccc; /* Agrega un borde para un mejor aspecto */
  }