<div class="container">
    <table class="table table-bordered text-center table-dark">
        <thead>
            <tr>
                <th scope="col">Codigo_Asignatura</th>
                <th scope="col">Nombre</th>
                <th scope="col">Jornada</th>
                <th scope="col">Semestre</th>
                <th scope="col">Tipo Materia</th>
                <th scope="col">Editar</th>
                <th scope="col">Eliminar</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let course of Courses">
                <td>{{ course.Codigo_Asignatura}}</td>
                <td>{{ course.Nombre}}</td>
                <td>{{ course.Jornada}}</td>
                <td>{{ course.Semestre}}</td>
                <td>{{ course.Tipo_Materia}}</td>
                <td class="justify-content-center text-center">
                    <a  routerLink="../../courses/{{course._id}}/update" class=" btn btn-success col-md-12 col-6 ">Editar</a>
            </td>
            <td class="justify-content-center text-center">
                <button  type="button" class="btn btn-danger col-md-12  col-6 mx-auto " (click)="onDeleteCourses(course._id)">Eliminar</button>
            </td>
            </tr>
        </tbody>
    </table>
</div>